<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSecret</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Découvreur de mot dans le génome</h1>
        <p><a href="index.html"> Accueil</a></p>
        <form method = 'GET' action = '/recherche'>
            <label>Chercher une phrase : </label>
            <input type="text" id="phrase" name="phrase">
        </form>
        <p>{{status}}</p>
        <p>
            {% for mot in les_mots %}
                {% if mot[0] in phrase %}
                <b><li>{{mot}}</li></b>
                {% else %}
                    <li>{{mot[0]}}</li>
                {% endif %}
            {% endfor %}</p>

    </main>
  </body>
</html>