<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSecret</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Découvreur de mot dans le génome</h1>
        <h2>Comment ça marche ?</h2>
        <p><a href="index.html"> Accueil</a></p>
        <p>Ce site d'une sécurité, sureté et validité asbolue et non négligeable nous permet de décoder des messages secrets dans les génomes de toutes les espèces ! Mais, comment ça marche ?</p>

        
    </main>


  </body>
</html>